.cover {
  width: 100%;
  margin: 5px 0px 0px 0px;
}
.about {
  background-image: url("about.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 72vh;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5px 0px 0px 0px;
}
.container4 {
  width: 100vw;
  height: 72vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.card {
  width: 82vw;
  border-radius: 1rem;
  background: #ff0048;
  box-shadow: 4px 4px 15px rgba(#000, 0.15);
  position: relative;
  color: #434343;
  height: 30vh;
  display: flex;
}
.card_container {
  display: flex;
  justify-content: center;
  height: 47.3vh;
}

.class_container {
  height: fit-content;
  padding: 2rem;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  position: relative;
  border: 0px solid;
}
.card_header {
  font-family: "Poppins";
  color: #ff304f;
  margin: 11px 0px 0px 0px;
}
.card:before {
  position: absolute;
  top: 2rem;
  right: -0.75rem;
  content: "";
  background: #ff304f;
  height: 28px;
  width: 28px;
  transform: rotate(45deg);
}
.card::after {
  position: absolute;
  content: attr(data-label);
  top: 11px;
  right: -18px;
  padding: 0.5rem;
  width: 10rem;
  background: #ff304f;
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 50px;
}
.profile {
  height: 24vh;
  border-radius: 50%;
  margin: 5px 0px 0px 0px;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  font-family: consolas;
}

.title h1 {
  color: #ff0057;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 36px;
  font-family: "Ultra", serif;
  top: 1vh;
}
#jetha {
  max-width: 23vw;
  border-radius: 15px;
}
.btn {
  color: #fff;
  position: sticky;
  padding: 10px 20px;
  background-color: #ff0057;
  font-size: 28px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 1s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  left: 42vw;
  width: fit-content;
}

.btn:after,
.btn:before {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0px solid #fff;
  transition: all 1s;
}

.btn:after {
  top: -1px;
  left: -1px;
  border-top: 5px solid #000000;
  border-left: 5px solid #000000;
}
.btn:before {
  bottom: -1px;
  right: -1px;
  border-bottom: 5px solid #000000;
  border-right: 5px solid #000000;
}

.data-container {
  display: flex;
  justify-content: center;
}

main section {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
main section div {
  background: #ff0057;
  padding: 37px;

  min-width: 250px;
  box-shadow: 12px 0px 32px -12px black;
  margin-left: -130px;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  display: inline-flex;
  min-height: 0px;
  overflow: hidden;
}

.socialmedia {
  height: 36vh;
}
.socialmedia1 {
  height: 35vh;
  width: auto;
}
.socialmedia2 {
  height: 33vh;
  width: auto;
  position: relative;
  right: -2vw;
}
.index {
  z-index: 2;
}
.index2 {
  z-index: 3;
}
.socialmedia3 {
  height: 35vh;
  width: auto;
}
.socialmedia4 {
  height: 38vh;
  width: auto;
  display: flex;
  position: relative;
  right: -2vw;
  top: -2vh;
}
h1 {
  color: #000;
}
#card3 .container2 .card3 .face.face1 {
  top: 13rem;
}


